---
const { pathname } = Astro.url;
---

<div class="mobile-nav">
  <div>
    <a href="/"
      ><button class={pathname === "/" ? "active" : ""}>Home</button></a
    >
    <a href="/about"
      ><button class={pathname === "/about" ? "active" : ""}>About</button></a
    >
    <a href="/contact"
      ><button class={pathname === "/contact" ? "active" : ""}>Contact</button
      ></a
    >
  </div>
</div>

<style>
  .mobile-nav > div {
    display: flex !important;
    flex-direction: column !important;
    background-color: var(--pico-primary-background);
  }

  .mobile-nav a,
  .mobile-nav button {
    width: 100%;
  }

  button.active {
    background-color: var(--pico-primary-hover-background);
    font-weight: bold;
  }

  /* Styles for screens wider than 768px (tablets and up) */
  @media screen and (min-width: 768px) {
    .mobile-nav {
      display: none;
    }
  }
</style>
